apiVersion: apps/v1
kind: Deployment
metadata:
  name: poc-app-deployment
  labels:
    app: poc-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: poc-app
  template:
    metadata:
      labels:
        app: poc-app
    spec:
      containers:
      - name: poc-app-container
        # Image name updated to local-only reference
        image: poc-web-app:v0.0.0-PLACEHOLDER
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: poc-app-service
spec:
  selector:
    app: poc-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: LoadBalancer