apiVersion: apps/v1
kind: Deployment
metadata:
  name: poc-app-deployment
  namespace: prod
  labels:
    app: poc-app
    environment: prod
spec:
  replicas: 2
  selector:
    matchLabels:
      app: poc-app
  template:
    metadata:
      labels:
        app: poc-app
        environment: prod
    spec:
      containers:
      - name: poc-app-container
        # Image name updated to local-only reference
        image: poc-web-app:v0.0.0-PLACEHOLDER
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: poc-app-service
  namespace: prod
spec:
  selector:
    app: poc-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: LoadBalancer


